<h1><mat-icon>info</mat-icon> About <mat-icon>info</mat-icon></h1>
<div>
<p>
    Our website provides a lot of information regarding to the world countries.<br>
    We have a table in which you can see data about each country there is.<br>
    That includes: the country's name, capital city, population and flag.<br>
    We also have a game that is a quiz about capital cities and flags.<br>
    <mat-icon>sentiment_satisfied_alt</mat-icon> Have fun! <mat-icon>sentiment_satisfied_alt</mat-icon><br>
</p>
</div>
<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/5pOFKmk7ytU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

