/* Application Layout */

section {
    box-sizing: border-box;
    padding: 0 0 50px 0; /* up right down left */
    min-height: 100%;
    position: relative;
    text-align: center;
    border: 2px solid black;
}

header {
    height: 100px;
    line-height: 100px;
    border-bottom: 2px solid black;
}
